html, * {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;

  background-color: hsl(212, 45%, 89%);
  font-family: Outfit Noto Sans;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.container {
  width: 280px;
  padding: 16px 16px 24px;
  border-radius: 12px;

  background-color: hsl(0, 0%, 100%);

  box-shadow: -1px 15px 5px 4px rgba(0,0,0,0.02);
  -webkit-box-shadow: -1px 15px 5px 4px rgba(0,0,0,0.02);
  -moz-box-shadow: -1px 15px 5px 4px rgba(0,0,0,0.02);
}

.qr-image {
  width: 100%;
  border-radius: 8px;
}

.content {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 22px;
  font-weight: 700;

  margin-top: 16px;
}

.desc {
  font-size: 15px;
  font-weight: 400;

  padding: 16px;
  color: hsl(220, 15%, 55%);
}